body{
  background: #b5c2d6; color: #F0F0F0; font-size: 14px;
}

.page-title {
  font-size: 24px; padding: 10px 14px; background: #081f53;
}
.form-section, .rw-form { background: #081f53; padding: 10px 15px; }
.list-group-item p {margin:0; padding:0;}
p.katalog1 { font-weight: bold; font-size: 14px; }
p.katalog2 { font-style: italic; font-size: 12px; }
p.katalog3 { font-size: 12px; text-align: right; margin-right: 20px;}

li.list-group-item {
  text-align: center;  background-color: #121d82; padding: 20px;
}
li.list-group-item a { font-size: 16px; color: #e2edd4; }
table {color: #0d3546;}
fieldset {border: 1px solid #FFF; padding: 5px 10px; margin-bottom: 20px;}
legend {
  background: #c1d1d6; color: #000000; text-align: right; padding-right: 20px;
  border-radius: 20px; margin-bottom: 5px;
}
fieldset>div.form-group { margin-bottom: 5px;}
